<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Rashi+Hebrew&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="landingview">
            <div class="today">TODAY</div>
            <div class="line"></div>
            <div class="viewfilter">
                <div class="filter">View</div>
                <div class="filterbtn"></div>
            </div>
            <div class="task">
                <div class="taskObject">
                    <input type="checkbox" name="tskObj" id="tskObj">
                    <label for="tskObj">Phân tán</label>
                    <div class="subtitle">
                        <div class="distributed">Distributed Apps</div>
                        <div class="process">0 of 2</div>
                        <div class="date"><a href="">Today</a></div>
                    </div>
                    <div class="star"></div>
                </div>
                <div class="taskObject" style="top: 79px">
                    <input type="checkbox" name="tskObj" id="tskObj">
                    <label for="tskObj">Phân tán</label>
                    <div class="subtitle">
                        <div class="distributed">Distributed Apps</div>
                        <div class="process">0 of 2</div>
                        <div class="date"><a href="">Today</a></div>
                    </div>
                    <div class="star"></div>
                </div>
                <div class="taskObject" style="top: 158px">
                    <input type="checkbox" name="tskObj" id="tskObj">
                    <label for="tskObj">Phân tán</label>
                    <div class="subtitle">
                        <div class="distributed">Distributed Apps</div>
                        <div class="process">0 of 2</div>
                        <div class="date"><a href="">Today</a></div>
                    </div>
                    <div class="star"></div>
                </div>
                <div class="taskObject" style="top: 237px">
                    <input type="checkbox" name="tskObj" id="tskObj">
                    <label for="tskObj">Phân tán</label>
                    <div class="subtitle">
                        <div class="distributed">Distributed Apps</div>
                        <div class="process">0 of 2</div>
                        <div class="date"><a href="">Today</a></div>
                    </div>
                    <div class="star"></div>
                </div>
                <div class="addtask">
                    <div class="btn"></div>
                    <div class="text">Add Task</div>
                </div>
            </div>
        </div>  
    </body>
</html>