.title{
    width: 1094px;
    position: sticky;
    z-index: 999;
}

.header-land {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

app-task{
    &:focus{
        transform: scale(0.95);
    }
}

.title h3 {
    color: #6D6363;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 0px;
}