.landingview {
    position: absolute;
    width: 1094px;
    height: 430px;
    left: 587px;
    top: 139px;
}

.today {
    position: absolute;
    width: 100px;
    height: 39px;
    left: 0px;
    top: 8px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #6D6363;
}

.line {
    position: absolute;
    width: 1094px;
    height: 0px;
    left: 0px;
    top: 69px;
    
    border: 1px solid #6D6363;
}

.viewfilter {
    position: absolute;
    width: 98px;
    height: 52px;
    right: 0px;
    top: 0px;
}

.filter {
    position: absolute;
    width: 44px;
    height: 24px;
    right: 0px;
    top: 14px;
    
    font-family: 'Noto Rashi Hebrew';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #6D6363;
}

.filterbtn {
    position: absolute;
    width: 54.43px;
    height: 52px;
    right: 43.57px;
    top: 0px;
    
    background: url(image/filters.png);
}

.task {
    position: absolute;
    width: 1094px;
    height: 361px;
    left: 0px;
    top: 69px;
}

.taskObject {
    margin-top: 16px;
    position: absolute;
    width: 1094px;
    height: 63px;
    left: 0px;
    top: 0px;
}

.taskObject input {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 0px;
    margin: 0px;
}

.taskObject label {
    position: absolute;
    top: 0px;
    left: 36px;

    font-family: 'Noto Rashi Hebrew';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #6D6363;
}

.taskObject .subtitle {
    position: absolute;
    width: 240px;
    height: 19px;
    top: 27px;
    left: 36px;
}

.subtitle .distributed {
    position: absolute;
    width: 127px;
    height: 14px;
    top: 0px;
    left: 0px;

    font-family: 'Noto Rashi Hebrew';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;

    color: #6D6363;
}

.subtitle .process {
    position: absolute;
    width: 42px;
    height: 19px;
    left: 140px;
    top: 0px;
    
    font-family: 'Noto Rashi Hebrew';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  
    color: #6D6363;
}

.subtitle .date {
    position: absolute;
    width: 45px;
    height: 19px;
    left: 195px;
    top: 0px;
    
    font-family: 'Noto Rashi Hebrew';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #0066FF;
}

.star {
    position: absolute;
    width: 29px;
    height: 29px;
    right: 7px;
    top: 9px;
    
    background: url(image/stars.png);
}

.addtask {
    position: absolute;
    width: 134px;
    height: 29px;
    left: 0px;
    top: 332px;
}

.addtask .btn {
    position: absolute;
    width: 29px;
    height: 29px;
    left: 0px;
    top: 0px;
    
    background: url(image/plus.png);
}

.addtask .text {
    position: absolute;
    width: 84px;
    height: 24px;
    left: 50px;
    top: 0px;
    
    font-family: 'Noto Rashi Hebrew';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #6D6363;
}