/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'assets/fonts/fontawesome-free-6.4.0/css/all.min.css';
*{
    font-family: 'Lato';
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --color-primary: #279574;
    --color-secondary: #e4e2e0;
    --color-light-gray: #efefef;
}

/* modify login field component */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
}