/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'assets/fonts/fontawesome-free-6.4.0/css/all.min.css';
*{
    font-family: 'Lato';
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --color-primary: #279574;
    --color-secondary: #e4e2e0;
    --color-light-gray: #efefef;
}

/* modify login with google button text component */
.mat-mdc-button .mdc-button__label, .mat-mdc-unelevated-button .mdc-button__label, .mat-mdc-raised-button .mdc-button__label, .mat-mdc-outlined-button .mdc-button__label {
    font-family: 'Inter', sans-serif;
}

/* modify login field component */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
}

/* modify "On" text in notification content */
.mat-mdc-checkbox label {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* Pop up when click on avatar */

#mat-menu-panel-0 > div {
    width: 280px;
    height: 497px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 15px 15px;
    padding: 32px 42px 42px;
  }

  #mat-menu-panel-0 > div > button {
    width: 200px;
    height: 72px;
    background: rgba(217, 217, 217, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 3px;
    padding: 24px;

  }

  #mat-menu-panel-0 > div > button > span {
    color: #132039;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }

/* Add task button */
body > app-root > app-homepage > mat-sidenav-container > mat-sidenav-content > div > app-today > app-landingview > app-task > button > span.mdc-button__label {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #6D6363;
}

/* Create Task title */
#mat-mdc-dialog-title-0 {
    height: 50px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #132039;
    margin-bottom: 12px;
    letter-spacing: 0.01em;

}

/* Add List button in side bar */
body > app-root > app-homepage > mat-sidenav-container > mat-sidenav > div > app-sidebar > div.list > button > span.mdc-button__label {
    display: flex;
    align-items: center;
}

/* Noti pop up */
#mat-menu-panel-1 > div {
    width: 280px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 15px 15px;
    padding: 12px 22px;
}

#mat-menu-panel-1 > div > button > span {
    display: flex;
    align-items: center;

}

#mat-menu-panel-1 > div > button {
    background: rgba(217, 217, 217, 0.2);
    border-radius: 10px;
    align-items: center;
    line-height: 100%;
    padding: 10px;
    margin-bottom: 5px;
}

#mat-menu-panel-1 > div > div {
    display: flex;
    align-items: center;
}

#mat-menu-panel-1 > div > div > h1 {
    color: #132039;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 100%;
}

#mat-menu-panel-1 > div > div > a {
    text-decoration: none;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #132039;
    margin-left: auto;
    line-height: 100%;
}

/* Gantt chart */
body > app-root > app-homepage > mat-sidenav-container > mat-sidenav-content > div > app-process > div > div > div > div.gantt_layout_cell.timeline_cell.gantt_layout_outer_scroll.gantt_layout_outer_scroll_vertical.gantt_layout_outer_scroll.gantt_layout_outer_scroll_horizontal > div > div > div.gantt_task_scale > div > div {
    color: #132039;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

body > app-root > app-homepage > mat-sidenav-container > mat-sidenav-content > div > app-process > div > div > div > div.gantt_layout_cell.grid_cell.gantt_layout_outer_scroll.gantt_layout_outer_scroll_vertical.gantt_layout_outer_scroll.gantt_layout_outer_scroll_horizontal.gantt_layout_cell_border_right > div > div > div.gantt_grid_scale > div {
    color: #132039;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.gantt_tree_content,
.gantt_task_content {
    color: #132039;
    font-family: 'Montserrat', sans-serif;
}

/* .gantt_task_content {
    background-color: #2DB6F5;
}

body > app-root > app-homepage > mat-sidenav-container > mat-sidenav-content > div > app-process > div > div > div > div.gantt_layout_cell.timeline_cell.gantt_layout_outer_scroll.gantt_layout_outer_scroll_vertical.gantt_layout_outer_scroll.gantt_layout_outer_scroll_horizontal > div > div > div.gantt_data_area > div.gantt_bars_area > div {
    border: 1px solid #2DB6F5;
} */

