<body>
    <!-- Start: Navbar -->
    <div id="nav">
        <!-- Start: Navleft -->
        <ul id="nav-left">
            <li>
                <div class="home">
                    <i class="fa-solid fa-house"></i>
                    <a class="home-text" href="">Home</a>
                </div>
            </li>

            <li>
                <div class="about-us">
                    <i class="fa-solid fa-users"></i>
                    <a href="">About Us</a>
                </div>
            </li>

            <li>
                <div class="help-support">
                    <i class="fa-regular fa-circle-question"></i>
                    <a href="">Help & Support</a>
                </div>
            </li>
        </ul>
        <!-- End: Navleft -->
        
        <!-- Start: button-set -->
        <div id="button-set">
            <div id="login">
                <a href="">Login</a>
            </div>
            
            <div id="start-for-free">
                <a href="">Start For Free</a>
            </div>
        </div>
        <!-- End: button-set -->

    </div>
    <!-- End: Navbar -->

    <!-- Start: Content-layout -->
    <div id="content-layout">
        <div class="left">
            <h1>Smash all of your ideas into one place</h1>
            <p><b>Dealing</b> with your <b>tasks</b> easily to help you make your journey more <b>fun</b>.</p>
        </div>

        <div class="right">
            <div class="screenshot-desktop">
                <div class="text-desktop">
                    A screenshot of the desktop view
                </div>
            </div>

            <img class="freddy" src="../img/Freddy.png" alt="">
        </div>
    </div>

    <!-- End: Content-layout -->

    <!-- bg-left -->
    <img id="bg-left" src="../img/bg-left.png" alt="">
</body>


