<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>intro</title>
    <link rel="stylesheet" href="styleintro.css">

    <!-- Cài font cho nav trong intro -->
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    
    <!-- Nhúng fontawesome -->
    <link rel="stylesheet" href="./fonts/fontawesome-free-6.4.0/css/all.min.css">
</head>

<body>
    <img id="left-corner" src="img/bg-left.png" alt="">

    <div id="nav">
        <ul id="nav-left">
            <li>
                <div>
                    <i class="fa-solid fa-house"></i>
                    <a href="">Home</a>
                </div>
            </li>

            <li>
                <div>
                    <i class="fa-solid fa-users"></i>
                    <a href="">About Us</a>
                </div>
            </li>

            <li>
                <div >
                    <i class="fa-regular fa-circle-question"></i>
                    <a href="">Help & Support</a>
                </div>
            </li>
        </ul>
    </div>
</body>