<head>
    <link rel="stylesheet" href="styleintro.css">
    
    <!-- Cài font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Cài font cho nav trong intro -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet"> -->
    
    <!-- Nhúng fontawesome -->
    <link rel="stylesheet" href="./fonts/fontawesome-free-6.4.0/css/all.min.css">

    <!-- Cài font cho 2 button góc phải -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

    <!-- Cài font cho screenshot-desktop -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Start: Navbar -->
    <div id="nav">
        <!-- Start: Navleft -->
        <ul id="nav-left">
            <li>
                <div>
                    <i class="fa-solid fa-house"></i>
                    <a href="">Home</a>
                </div>
            </li>

            <li>
                <div>
                    <i class="fa-solid fa-users"></i>
                    <a href="">About Us</a>
                </div>
            </li>

            <li>
                <div >
                    <i class="fa-regular fa-circle-question"></i>
                    <a href="">Help & Support</a>
                </div>
            </li>
        </ul>
        <!-- End: Navleft -->
        
        <div id="button-set">
            <div id="login">
                <a href="">Login</a>
            </div>
            
            <div id="start-for-free">
                <a href="">Start For Free</a>
            </div>
        </div>
    </div>
    <!-- End: Navbar -->

    <!-- Start: Content-layout -->
    <div id="content-layout">
        <div class="left">
            <h1>Smash all of your ideas into one place</h1>
            <div class="call-to-action"></div>
        </div>

        <div class="right">
            <div class="screenshot-desktop">
                <div class="text-desktop">
                    A screenshot of the desktop view
                </div>
            </div>

            <img class="freddy" src="./img/Freddy.png" alt="">
        </div>
    </div>

    <!-- End: Content-layout -->

    <!-- bg-left -->
    <img id="bg-left" src="img/bg-left.png" alt="">
</body>