<h3 mat-dialog-title>Add Task</h3>
<mat-dialog-content class="mat-typography">
    <div >

        <label for="taskName">Task Name:</label>
        <input type="text" id="taskName" [(ngModel)]="taskName" required>

        <label for="taskDescription">Task Description:</label>
        <textarea id="taskDescription" [(ngModel)]="taskDiscription" required></textarea>

        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" [(ngModel)]="startDate" required>

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" [(ngModel)]="endDate" required>

        <label for="taskPriority">Important:</label>
        <input type="checkbox" id="taskPriority" [(ngModel)]="taskPriority">

        <!-- <label for="taskStatus">Task Status:</label>
        <input type="checkbox" id="taskStatus" [(ngModel)]="taskStatus"> -->

        <label for="repeat">Repeat:</label>
        <input type="checkbox" id="repeat"  [(ngModel)]="repeat">

    </div>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button (click)="saveTask()">Save Task</button>
    </mat-dialog-actions>