<h3 mat-dialog-title>Edit Task</h3>
<mat-dialog-content class="mat-typography">
  <div>
    <form #taskForm="ngForm">

      <label for="taskName">Task Name:</label>
      <input type="text" id="taskName" matInput placeholder="Task Name" [(ngModel)]="updatedTask.taskName"
        name="taskName">



      <label for="taskDescription">Task Description:</label>
      <textarea id="taskDescription" matInput placeholder="Task Description" [(ngModel)]="updatedTask.taskDiscription"
        name="taskDescription"></textarea>

      <div class="date-form">
        <div class="start"> <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" name="startDate" [(ngModel)]="updatedTask.startDate" required>
        </div>
        <div class="end"> <label for="endDate">End Date:</label>
          <input type="date" id="endDate" name="endDate" [(ngModel)]="updatedTask.endDate" required>
        </div>
      </div>



      <div class="priority"> <label class="priority-label" for="taskPriority">Important:</label>
        <input type="checkbox" id="taskPriority" name="taskPriority" [(ngModel)]="updatedTask.taskPriority">
      </div>
      <div class="repeat"><label class="repeat-label" for="repeat">Repeat:</label>
        <input type="checkbox" id="repeat" name="repeat" [(ngModel)]="updatedTask.repeat">

      </div>



      <label for="parent">Parent:</label>
      <textarea name="parent" id="parent" name="parent" [(ngModel)]="updatedTask.parent" required></textarea>

    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="saveChanges()">Save</button>
    <button mat-button (click)="closeDialog()">Cancel</button>
  </div>