<h2 mat-dialog-title>Edit Task</h2>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <input matInput placeholder="Task Name" [(ngModel)]="updatedTask.taskName" name="taskName">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Task Description" [(ngModel)]="updatedTask.taskDiscription"
        name="taskDescription"></textarea>
    </mat-form-field>

    <mat-form-field>
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" name="startDate" [(ngModel)]="updatedTask.startDate" required>
    </mat-form-field>

    <mat-form-field>
      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" name="endDate" [(ngModel)]="updatedTask.endDate" required>
    </mat-form-field>

    <label class="priority-label" for="taskPriority">Important:</label>
    <input type="checkbox" id="taskPriority" name="taskPriority" [(ngModel)]="updatedTask.taskPriority">

    <label class="repeat-label" for="repeat">Repeat:</label>
    <input type="checkbox" id="repeat" name="repeat" [(ngModel)]="updatedTask.repeat">



    <mat-form-field>
      <textarea name="parent" id="parent" name="parent" [(ngModel)]="updatedTask.parent" required></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="saveChanges()">Save</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</div>