* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS Side-bar */
#side-bar {
    position: absolute;
    width: 369px;
    height: 1005px;
    left: 0px;
    top: 75px;
    background-color: #FAFAFA;
}

#side-bar li a {
    color: #6D6363;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#side-bar li {
    list-style-type: none;
    padding: 20.5px 0px 20.5px 113px;
}

#side-bar li:first-child{
    padding-top: 73px;
}

#side-bar li:last-child {
    position: absolute;
    bottom: 0px;
}

#side-bar li .completed::after {
    display: block;
    position: absolute;
    border-bottom: 2px solid #6D6363 ;
}