<head>
    <link rel="stylesheet" href="style.css">

    <!-- Cài thêm font cho side-bar -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    
    <!-- Nhúng fonawesome -->
    <link rel="stylesheet" href="./fonts/fontawesome-free-6.4.0/css/all.min.css">
</head>

<body>
    <div id="main">
        <!-- Start: Side-bar -->
        <div id="side-bar">
            <ul class="feature">
                <li>
                    <i class="fa-regular fa-sun" id="icon-sidebar"></i>
                    <a href="">Today</a>
                </li>

                <li>
                    <i class="fa-regular fa-star" id="icon-sidebar"></i>
                    <a href="">Important</a>
                </li>

                <li>
                    <i class="fa-solid fa-list-ul" id="icon-sidebar"></i>
                    <a href="">In Process</a>
                </li>

                <li>
                    <i class="fa-solid fa-calendar-week" id="icon-sidebar"></i>
                    <a href="">Upcoming</a>
                </li>

                <li>
                    <i class="fa-solid fa-list-check" id="icon-sidebar"></i>
                    <a href="">Completed</a>
                </li>
                
                <div id="line"></div>

                <li class="distributed-app">
                    <i class="fa-regular fa-circle"></i>
                    <a href="">Distributed Apps</a>
                </li>

                <li>
                    <i class="fa-solid fa-plus" id="icon-sidebar"></i>
                    <a href="">Add List</a>
                </li>
            </ul>
        </div>
        <!-- End: Side-bar -->
    </div>
</body>
