#side-bar {
    position: absolute;
    width: 369px;
    height: 1005px;
    left: 0px;
    top: 75px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
}

#side-bar li a {
    color: #6D6363;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
}

#side-bar li {
    width: 297px;
    height: 60px;
    list-style-type: none;
    display: flex;
    gap: 29px;
    align-items: center;
    padding: 18px 0px 18px 17px;
    margin: 5px;
}

#icon-sidebar {
    font-size: 29px;
    color: #374957;
    width: 33px;
}

#side-bar .distributed-app {
    gap: 36px;
}

#side-bar .distributed-app .fa-circle {
    padding: 5px;
}

#side-bar li:first-child{
    margin-top: 55px;

}

#line {
    width: 267px;
    border-top: 1px solid #6D6363;
    margin: 54px 0px 18px 17px;
}

#side-bar li:last-child {
    position: absolute;
    bottom: 10px;
}