<div class="navbar">
    <div class="sidebarfunc">
        <div class="func-ite">
            <button mat-button class="side-button" [routerLink]="['/today']">
                <mat-icon>wb_sunny</mat-icon>
                <span>Today</span>
            </button>
            <button mat-button class="side-button" [routerLink]="['/important']">
                <mat-icon>star_border</mat-icon>
                <span>Important</span>
            </button>
            <button mat-button class="side-button" [routerLink]="['/process']">
                <mat-icon>list</mat-icon>
                <span>In process</span>
            </button>
            <button mat-button class="side-button" [routerLink]="['/upcoming']">
                <mat-icon>today</mat-icon>
                <span>Upcoming</span>
            </button>
            <button mat-button class="side-button" [routerLink]="['/completed']">
                <mat-icon>playlist_add_check</mat-icon>
                <span>Completed</span>
            </button>
            <mat-divider></mat-divider>
        </div>   
    </div>
    
</div>