<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="side-bar">
            <ul class="feature">
                <li><a href="">Today</a></li>
                <li><a href="">Important</a></li>
                <li><a href="">In Process</a></li>
                <li><a href="">Upcoming</a></li>
                <li><a href="">Completed</a></li>
                <li><a href="">Distributed Apps</a></li>
                <li><a href="">Add List</a></li>
            </ul>
        </div>
    </div>
</body>
