@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material-Icons');

*{
    font-family: sans-serif;
    background-color: #fafafa;
    height: 80vh;
}

mat-icon{
    color: rgb(136, 125, 125);
    font-family: 'Material Icons';
    font-weight: 300;
}
.sidebarfunc{
    padding-top: 55px;
}
.func-ite{
    .side-button{
        justify-content:left;
        width: 70%;
        position:relative;
        display: flex;  
        margin-bottom: 21px;
        margin-left: 53px;
        
    }
    .side-button mat-icon{
        background: none;
        font-size: 29px;
        height: 29px;
        width: 29px;
    }
    .side-button span{
        padding-left: 15px;
        color: black;
        font-size: 20px;
        font-family: sans-serif;
        background: none;
    }
    .side-button:hover{
        background-color: #D9D9D9 20%;
    }
    .side-button:focus{
        background-color: #D9D9D9;
        border-radius: 10px;
    }
}

