<div class="row justify-content-center md-3">
    <div class="col-md-4 text-center">
        <h1> PROCESS </h1>
        <p class="text-info">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, blanditiis quidem id libero iste sit vero dolore qui expedita eum aut esse odio ipsum exercitationem? Dignissimos, maxime! Fugiat, veritatis commodi!
        </p>
    </div>
</div>

<form (ngSubmit)="register()">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required>
  
   
  
  
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>
  
    <label for="fullname">Full name:</label>
    <input type="fullname" id="fullname" name="fullname" [(ngModel)]="fullname" required>
  
    <input type="submit" value="Sign Up">
  </form>