/* Start: Nav */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#icon {
    font-size: 40px;
}

/* Start Side-bar */
#side-bar {
    width: 257px;
    height: 575px;
    left: 0px;
    top: 0px;
    background-color: #FAFAFA;
    justify-content: center;
    padding: 23px 28px;
    float: left;
}

#side-bar h1 {
    font-family: 'Montserrat', sans-serif;
    color: #132039;
    font-size: 16px;
    margin-bottom: 19px;

}

#side-bar li a {
    font-family: 'Montserrat', sans-serif;
    color: #132039;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}


#side-bar li {
    width: 201px;
    height: 33px;
    list-style-type: none;
    display: flex;
    gap: 29px;
    align-items: center;
    padding: 8px 28px;
    margin-bottom: 3px;
}



/* hover */

#side-bar li:hover {
    background-color: rgba(217, 217, 217, 0.2);
    border-radius: 10px;
    border: 1px solid #A7A5A5;
}

/* End: Side-bar */

/* Start: Content-layout */
#content-layout {
    overflow: hidden;
    padding: 18.5px 20.67px 0px 42px;

}

#content-layout .header h1 {
    font-family: 'Montserrat', sans-serif;
    color: #132039;
    font-size: 16px;
    display: inline-block;
}

#content-layout .header .fa-xmark {
    float: right;
    font-size: 20px;
}

#content-layout hr {
    margin-top: 20px;
}

#content-layout h2 {
    font-family: 'Montserrat', sans-serif;
    color: #132039;
    font-size: 14px;
    margin: 20px 0px;
}

#content-layout .photo {
    padding-bottom: 15px;
}

#content-layout .photo img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-right: 40px;
}

#content-layout button {
    width: 126px;
    height: 37px;
    border-radius: 5px;
    border: 1px solid transparent ;
    font-family: 'Montserrat', sans-serif;
    color: #132039;
    font-size: 14px;
}

#content-layout .content-photo {
    display: flex;
    align-items: center;
}

#content-layout .information .text-field {
    height: 37px;
    width: 232px;
    border: 1.5px solid #D9E1F2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;

    font-family: 'Montserrat', sans-serif;
    color: #132039;
    font-size: 14px;
    margin-bottom: 15px;
}

#content-layout .information .email-content {
    display: flex;
    gap: 20px;
    height: 37px;
}

#content-layout .information .email-content button {
    width: 126px;
    height: 37px;
}
#content-layout .information button {
    width: 152px;
    height: 37px;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
/* End: Content-layout */
