<!-- <form (ngSubmit)="submitForm()">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required>
  
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" required>
  
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>
  
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
  
    <label for="telephone">Telephone Number:</label>
    <input type="tel" id="telephone" name="telephone" [(ngModel)]="telephone" required>
  
    <input type="submit" value="Sign Up">
  </form> -->

<!-- <form id="right"(ngSubmit)="register()">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required>

  
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>
  
    <label for="fullname">Full name:</label>
    <input type="fullname" id="fullname" name="fullname" [(ngModel)]="fullname" required>
  
    <input type="submit" value="Sign Up">
  </form>
  -->

<div id="right">
  <h3>Welcome!!!</h3>

  <div class="text-field">
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input matInput>
    </mat-form-field>

    <div class="example-container">
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

    </div>
    <button mat-button class="login_btn">Sign Up</button>
    <div class="forget">
      Already haved account?&nbsp;<a [routerLink]="['/login']">Sign in</a>
    </div>
  </div>
</div>