<p>sign-up works!</p>

<!-- <form (ngSubmit)="submitForm()">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required>
  
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" required>
  
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>
  
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
  
    <label for="telephone">Telephone Number:</label>
    <input type="tel" id="telephone" name="telephone" [(ngModel)]="telephone" required>
  
    <input type="submit" value="Sign Up">
  </form> -->

  <form (ngSubmit)="register()">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required>

  
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>
  
    <label for="fullname">Full name:</label>
    <input type="fullname" id="fullname" name="fullname" [(ngModel)]="fullname" required>
  
    <input type="submit" value="Sign Up">
  </form>