::-webkit-scrollbar {
  width: 0;
  height: 0;
}

mat-sidenav{
    width: 360px;
    
}

mat-sidenav-container{
  height: 1005px;
  width: 100%;
}
 
mat-sidenav-content{
    padding: 30px 0;
    overflow-x: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
}

.navbar navbar-expand-lg navbar-light bg-light{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--color-primary);
    height: 70px;
    border-bottom: 1px solid #ccc;
  }
 
  .mat-toolbar {
    justify-content: space-between;
    background-color: var(--color-primary);
    height: 70px;
  }
  
  .mat-icon {
    font-size: 44px;
    height: 44px;
    width: 44px;
    margin:0 15px;
    color: #e4e2e0;
  }
   
  .navleft {
    display: flex;
    flex-direction: row;
    align-items: center;
  }



  
  .search-box {
    background: #efefef;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 15px 0;
    height: 45px;
  }
  
  .search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
    font-family: sans-serif;
    font-size: medium;
  }

  
  .mat-menu mat-menu-item {
    display: flex;
    width: 459px;
    height: 497px;
    flex-direction: column;
    
    &#hello{
      justify-content: center;
      align-items: center;
    }
  } 

  /* Pop up when click on avatar */
  h2 {
    color: #279574;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
  }

  h3 {
    color: #000206FA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 20px;
  }

  img {
    margin-right: 10px;
  }


  /* Noti */
  span {
    display: flex;
    align-items: center;
  }

  .noti-pop-up .header {
      height: 43px;
      width: 100%;
      padding: 10.5px 42px;
      display: flex;
  }

  

  .noti-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .noti-text b {
    font-family: 'Montserrat', sans-serif;
  }
  
  button .fa-ellipsis::before {
    margin-left: 30px;
  }

  .noti-text .label {
    color: #132039;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 15px;
    font-size: 10px;
    line-height: 100%;
  }

  .noti-text .date {
    color: #264073;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    height: 15px;
    font-size: 6px;
    line-height: 100%;
  }
/**/