<!-- <div class="navbar navbar-expand-lg navbar-light bg-light" class=" ">
    
</div> -->
<mat-toolbar>
        <div class="navleft">
            <mat-icon (click)="sidebar.toggle()">home</mat-icon>
            <div class="search-box">
                <!-- <input matInput type="text" placeholder="Search" [(ngModel)]="searchQuery" (keyup.enter)="searchTasks()">  -->
                <!-- <button mat-icon-button (click)="searchTasks()"> -->
                  <mat-icon>search</mat-icon>
                
              </div>
        </div>

        <span class="spacer"></span>
        <div class="nav_right">
            <button class="mat-icon-button" style="background: none; border: none;">
                <mat-icon routerLink="">help_outline</mat-icon>
            </button>
            <button class="mat-icon-button" style="background: none; border: none;" 
            [matMenuTriggerFor]="hello2">
                <mat-icon matBadge="." matBadgeColor="warn" matBadgeOverlap="false"
                >notifications_none</mat-icon>
            </button>

            <button class="mat-icon-button" style="background: none; border: none;"
            [matMenuTriggerFor]="hello">
                <mat-icon >perm_identity</mat-icon>
            </button>
            <mat-menu #hello="matMenu">
                <button mat-menu-item (click)="openDialog()">Account</button>
                <button mat-menu-item (click)="openDialog()">Preference</button>
                <button mat-menu-item (click)="openDialog()">About us</button>
                <button mat-menu-item (click)="openDialog()">Help & Support</button>
                <button mat-menu-item >Log out</button>
            </mat-menu>

            <mat-menu #hello2="matMenu">
                <button mat-menu-item>fuch u bitch</button>
                
                <button mat-menu-item>fuch u bitch</button>
            </mat-menu>
        </div>




    </mat-toolbar>
<mat-sidenav-container class="my-container" autosize>
    <mat-sidenav #sidebar mode="side" opened position="start">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>