<!-- <div class="navbar navbar-expand-lg navbar-light bg-light" class=" ">
    
</div> -->
<mat-toolbar>
        <div class="navleft">
            <mat-icon (click)="sidebar.toggle()">home</mat-icon>
            <div class="search-box">
                <div>
                  <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="onSearchQueryChange()" placeholder="Search...">
                </div>
                <mat-icon>search</mat-icon>
              </div>
        </div>

        <span class="spacer"></span>
        <div class="nav_right">
            <button class="mat-icon-button" style="background: none; border: none;">
                <mat-icon routerLink="">help_outline</mat-icon>
            </button>
            <button class="mat-icon-button" style="background: none; border: none;" 
            [matMenuTriggerFor]="hello2">
                <mat-icon matBadge="." matBadgeColor="warn" matBadgeOverlap="false"
                >notifications_none</mat-icon>
            </button>

            <button class="mat-icon-button" style="background: none; border: none;"
            [matMenuTriggerFor]="hello">
                <mat-icon >perm_identity</mat-icon>
            </button>
            <mat-menu class="setting-popup" #hello="matMenu">
                <h2>Long V.Nguyen</h2>
                <h3>@long.nv207687</h3>
                <button mat-menu-item (click)="openDialog()"><img src="assets/image/avatar.png" alt="">Account</button>
                <button mat-menu-item (click)="openDialog()"><img src="assets/image/preference.png" alt="">Preference</button>
                <button mat-menu-item (click)="openDialog()"><img src="assets/image/aboutus.png" alt="">About us</button>
                <button mat-menu-item (click)="openDialog()"><img src="assets/image/question.png" alt="">Help & Support</button>
                <button mat-menu-item ><img src="assets/image/logout.png" alt="">Log out</button>
            </mat-menu>

            <mat-menu #hello2="matMenu">
                <button mat-menu-item>vua banh dau xanh </button>
                
                <button mat-menu-item>vua ha loi</button>
            </mat-menu>
        </div>




    </mat-toolbar>
<mat-sidenav-container class="my-container" autosize>
    <mat-sidenav #sidebar mode="side" opened position="start">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>