<div class="title"> 
    <mat-icon></mat-icon>
    <div class="header-land">
        <h3 class="col-md-6"> Title </h3>
        <mat-icon class="col-md-6">tune</mat-icon>
    </div>   
</div>


  <!-- <mat-card>
    <mat-card-header>
      <mat-card-title>
        
            <input type="checkbox" class="text-left">
            <span class="label-text">Checkbox Label</span>
          
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card> -->
  <!-- <app-task></app-task> -->
  <app-landingview></app-landingview>
  
  
  
