* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {

}

#header{
    position: relative;
    width: 100%;
    height: 75px;
    left: 0px;
    top: 0px;
    background-color:#279574;
}

#nav {
    
}

#header .fa-house {
    position: absolute;
    font-size: 44px;
    left: 43px;
    top: 0;
    color: #fff;
    line-height: 75px;
}

#header .fa-circle-user {
    position: absolute;
    font-size:57px;
    right: 47px;
    top: 9px;
    color: #fff;
    padding: 0px 0px 0px 47px;
}

#header .fa-bell {
    position: absolute;
    line-height: 75px;
    font-size: 52px;
    color: #fff;
    right: 164px;
}

#header .fa-circle-question {
    position: absolute;
    line-height: 75px;
    font-size: 52px;
    color: #fff;
    right: 273px;
}