<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-6s1tX7d6i4oK+sjd0nHPTBf3wDGdJN6+0oYRjO6a4D5WKhbY6aZRyJL2Xr1z+6Ks" crossorigin="anonymous">


<mat-list *ngFor="let task of tasks" class="task-list" >
  <mat-card mat-list-item  class="task-item" class="result">
      <mat-card-content>
        <section class="example-section">
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="task.taskStatus">
            <span [ngClass]="{'task-completed': task.taskStatus}">{{ task.taskName }}</span>
          </mat-checkbox>
          <input type="checkbox" id="my-icon-checkbox" [(ngModel)]="task.taskPriority" class="icon-checkbox">
          <label for="my-icon-checkbox" class="icon-container"  [ngClass]="{'task-important': task.taskPriority}">
            <i class="fas fa-star"></i>
          </label>
        </section>
        <!-- <section class="example-subtitle">
          <p><strong>Task Description:</strong> {{ task.taskDescription }}</p>
          <p><strong>Start Date:</strong> {{ task.startDate }}</p>
          <p><strong>End Date:</strong> {{ task.endDate }}</p>
          <p><strong>Repeat:</strong> {{ task.repeat }}</p>
        </section> -->
      </mat-card-content>
    </mat-card>
</mat-list> 

<mat-list>
  <mat-card *ngFor="let task of tasks" class="task-item">
    <mat-card-content>
      <section class="example-section">
        <mat-checkbox class="example-margin" color="primary" (change)="moveToCompleted(task)">
          {{ task.taskName }}
        </mat-checkbox>
        <div *ngIf="task.completed">
          <!-- Content to display when the checkbox is checked -->
          Task is completed.
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</mat-list>

  

  <!-- <ng-container *ngFor="let task of filteredTasks">
    <mat-card class="result">
      <mat-card-content>
        <section class="task-details">
          <mat-checkbox [(ngModel)]="task.taskName" color="primary">
            {{task.taskName}}
          </mat-checkbox>
          <input type="checkbox" id="my-icon-checkbox" class="icon-checkbox">
          <label for="my-icon-checkbox" class="icon-container">
            {{task.taskPriority}}
            <i class="fas fa-star"></i>
          </label>
        </section>
        <section class="task-description">
          <p><strong>Task Description:</strong> {{ task.taskDiscription }}</p>
          <p><strong>Start Date:</strong> {{ task.startDate }}</p>
          <p><strong>End Date:</strong> {{ task.endDate }}</p>
          <p><strong>Repeat:</strong> {{ task.repeat }}</p>
        </section>
      </mat-card-content>
    </mat-card>
  </ng-container> -->
  <button mat-button (click)="openDialog()">Add Task</button>



 