<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-6s1tX7d6i4oK+sjd0nHPTBf3wDGdJN6+0oYRjO6a4D5WKhbY6aZRyJL2Xr1z+6Ks" crossorigin="anonymous">
<!-- <mat-card>
    <mat-card-content>
        <h2 class="example-h2">Checkbox configuration</h2>

        <section class="example-section">
            <mat-checkbox></mat-checkbox>
           
            <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
        </section>

        <section class="example-section">
            <label class="example-margin">Align:</label>
            <mat-radio-group [(ngModel)]="labelPosition">
                <mat-radio-button class="example-margin" value="after">After</mat-radio-button>
                <mat-radio-button class="example-margin" value="before">Before</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="disabled">DisablhDisablhed</mat-checkbox>
        </section>
    </mat-card-content>
</mat-card> -->

<mat-card class="result">
    <mat-card-content>
        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="checked" color="primary">
                I'm a checkbox
            </mat-checkbox>
            <input type="checkbox" id="my-icon-checkbox" class="icon-checkbox" [(ngModel)]="imchecked">
            <label for="my-icon-checkbox" class="icon-container">
                <i class="fas fa-star"></i>
            </label>
        </section>
        <section class="example-subtitle"></section>
    </mat-card-content>
</mat-card>

<div>
    <h2>Create Task</h2>
    <form (ngSubmit)="saveTask()">
      <label for="taskName">Task Name:</label>
      <input type="text" id="taskName" [(ngModel)]="taskName" required>
  
      <label for="taskDescription">Task Description:</label>
      <textarea id="taskDescription" [(ngModel)]="taskDescription" required></textarea>
  
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" [(ngModel)]="startDate" required>
  
      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" [(ngModel)]="endDate" required>
  
      <label for="taskPriority">Task Priority:</label>
      <input type="checkbox" id="taskPriority" [(ngModel)]="taskPriority">
  
      <label for="taskStatus">Task Status:</label>
      <input type="checkbox" id="taskStatus" [(ngModel)]="taskStatus">
  
      <label for="repeat">Repeat:</label>
      <input type="checkbox" id="repeat" [(ngModel)]="repeat">
  
      <button type="submit">Save Task</button>
    </form>
  </div>