body {
    display: flex;
}

#left {
    width: 880px;
    height: 100%;
    background-image: url(../../../assets/image/vecteezy_deadline-time-management-business-concept-vector_19571629.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
}

#left h2 {
    width: 408px;
    height: 177px;
    color: var(--color-primary);
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    position: absolute;
    top: 60px;
    left: 90px;
}

#left .bottom {
    position: absolute;
    left: 175px;
    bottom: 75px;
}

#left a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-right: 24px;
}

/* hover */

#right .login_btn:hover {
    background-color: #1ab788;
}

#right .forget a:hover {
    text-decoration: underline;
}

#left a:hover {
    font-weight: 700;
}
