#loginleft {
    position: absolute;
    left: 0;
    width: 56.25%;
    height: 100%;
    background: url(image/vecteezy_deadline-time-management-business-concept-vector_19571629.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#loginright {
    position: absolute;
    right: 0.885%;
    width: 51.6%;
    height: 90.9%;
    /* background: salmon; */
    background-position: center;
}

.slogan {
    position: absolute;
    width: 37.8%;
    height: 16.4%;
    left: 12.2%;
    top: 10%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    letter-spacing: 0.015em;
   
    color: #279574;
    
}